* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: #212221;
}
.logo{
	text-align: center;
	padding-top: 50px;
}

body {
	background-color: #d4d4d4
}

a, a:visited {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer !important;
}

a:hover {
  color: #222222;
  text-decoration: underline;
}

.bottom{
	height: 100%;
	width: 100%;
	text-align: center;
	background: #212221;
	padding: 30px;
	border-top: 7px solid #ffffff;
	float: left;
}